# Node.js
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
.venv/

# Electron / Build Outputs
dist/
win-unpacked/

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Environment files
.env
.env.local